<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Email actual:</ion-label>
    <ion-input [value]="email" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nueva Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <!-- Elimina el argumento 'newPassword' al llamar a changePassword -->
  <ion-button (click)="changePassword()">Cambiar Contraseña</ion-button>
</ion-content>
