<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
  <ion-toolbar id="username">
    <ion-label>Bienvenido {{ username }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon (click)="cerrarMenu()" slot="start" name="arrow-back" id="arrow-back"></ion-icon>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let item of menuItems">
        <ion-item (click)="irA(item.destination)">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
