<ion-header [translucent]="true">
  <ion-toolbar id="username">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Bienvenido {{username}}</ion-label>
  </ion-toolbar>
</ion-header>

<app-main-menu></app-main-menu>

<ion-content id="Body">
  <div id="container">
  <ion-item id="Case-Button">
    <ion-item id="item-Report">
      <ion-button id="Report">Resumen de Asistencia</ion-button>
    </ion-item>
    <ion-item id="item-Mark">
      <ion-button id="Mark" (click)="marcarAsistencia()">Marcar Asistencia</ion-button>
    </ion-item>
  </ion-item>
</div>
</ion-content>

