*{
  --background:aliceblue;
  color: #000;
  margin: 0;
  padding: 0;
}





#username{
  color:aliceblue;
  text-align: left;
}

#contenedor{
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

#arrow-back{
  width: 60px;
  height: 20px;
}

#Mark{
  margin-left: 2%;
}
#container{
  height: 100%;
  display: grid;
  justify-content: center;
  place-items: center;
}
ion-item[id='item-Report'],[id='item-Mark'],[id='Case-Button']{
  --background:transparent;
  --border-color:transparent;
}

// Animaciones Menu//
@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
