
ion-toolbar {
  --background: transparent;
  color: #fff;
}

ion-input {
  width: 100%;
  --background: transparent;
}

ion-item {
  margin-bottom: 1%;
  --background: transparent;
}



a {
  cursor: pointer;
}

ion-img {
  width: auto;
  height: 15%;
  padding-bottom: 10px;
}

ion-button {
  --background: #0069aa;
  &:hover{
    --background:#fff;
    color: #0069aa;
  }
}

ion-segment-button{
  --border-radius:50px ;
}
#body{
  --background: url(../../assets/fondoapp.jpg) no-repeat  center center;
  background-size: cover;
  & .filter-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(50%);
  }
}


#Header {
  text-align: center;
  box-shadow: none;
}


#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-color: transparent;
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
  --background-activated:#fff;
}

#contain{
  display:flex ;
  justify-content: center;
}
#container-segment{
  width: 70%;
  height: auto;
  --background:transparent;
}


#footer{
  text-align: center;
}

/*Class*/

.segment-button{
  color: #fff;
  width: auto;
  --background:#3498db;
  --background-checked:#353434;
  --color-hover:#353434;
  --color-checked:#3498db;
}




// Animaciones //

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}