<ion-header [translucent]="true" id="Header">
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="circle"></div>
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged()">
    <ion-segment-button value="profesor">
      Profesor
    </ion-segment-button>
    <ion-segment-button value="alumno">
      Alumno
    </ion-segment-button>
  </ion-segment>
  
  
  

  
  <div id="container" class="cssanimation leFadeIn sequence">
    <ion-img src="../../assets/Screenshot 2023-08-16 210220.png"/>
    <ion-item>
      <ion-label position="floating" type="email">Nombre de Usuario</ion-label>
      <ion-input name="User" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="Pass" type="password"></ion-input>
    </ion-item>
    <ion-button mat-raised-button (click)="validarYLogin()">Login</ion-button>
    <a (click)="navigateToForgot()">Restablecer Contraseña</a>
  </div>
</ion-content>
